name: release

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build s6-overlay-nginx-module
        run: |
          make
          make build

      - run: |
          cd bin ; for f in * ; do sha256sum "$f" > "$f".sha256 ; done
          cd output ; for f in *.tar* ; do sha256sum "$f" > "$f".sha256 ; done
      - name: Upload module
        uses: softprops/action-gh-release@v1
        with:
          files: |
            bin/*
            output/s6-overlay-*
